.quiz-container {
    background-color: #6A5ACD; /* Cor roxa */
    color: #000; /* Cor preta */
    padding: 20px;
  }
  
  /* Adicione estilos adicionais conforme necessário para atender às suas preferências de design. */
  