.titulo{
  text-align: center; /*alinha a imagem "mas antes.. faça esse quiz"*/
  display: block; /*define que a imagem não irá se mover, não queremos que ela saia do centro nunca*/
}

body { 
background-color: hsl(283, 48%, 54%); /*cor do fundo do site*/
width: 100%; /*define as dimensões do fundo do site*/
height: 100%; /*define as dimensões do fundo do site*/
} 

.quiz-container { 
width: 550px; /*define a largura do container - lugarzinho qu as perguntas estão*/
background-color: rgb(136, 19, 172); /*cor do retâmgulo grande*/
border-radius: 10px; /*curvinha da borda*/
padding: 20px; /*distância do título da pergunta até a borda*/
margin: 0 auto; /*ajuda a centralizar o container*/
} 

ul {
list-style-type: none; /*organiza as alternativas*/
padding: 0; /*faz com que a bolinha para selecionar fique ao lado da alternativa*/
} 

li { 
width: 500px; /*define a largura do retângulo pequeno que contém as alternativas*/
background-color: hsl(283, 48%, 54%); /*define a cor do retângulo*/
border-radius: 12px; /*define o arredondado da bordinha*/
padding: 10px; /*distância da borda a alternativa*/
margin-bottom: 20px; /*define o limite que selecionaremos a alternativa, não precisando clicar exatamente na bolinha*/
display:inline-flex; /*define que a alternativa e a bolinha de selcionar fiquem exatamente na mesma reta*/
} 

.container { 
position: absolute; /* posicionar o container em relação ao yellow-container */ 
top: 50%; /* centralizar verticalmente */ 
left: 50%; /* centralizar horizontalmente */ 
transform: translate(-50%, -50%); /* centralizar completamente */ 
width: 100%; /*define o tamanho do fundo do carregamento*/
height: 100%; /*define o tamanho do fundo do carregamento*/
background-color: hsl(283, 48%, 54%);/* cor de fundo roxa */ 
animation: fadeOut 0.5s 2s forwards; /* animação de fade out após 4 segundos */ 
} 

.loader { 
position: absolute; /* posicionar o círculo de carregamento em relação ao container */ 
top: 41%; /* centralizar verticalmente */ 
left: 47%; /* centralizar horizontalmente */ 
transform: translate(-50%, -50%); /* centralizar completamente */ 
border: 16px solid #f3f3f3; /* cor do círculo externo */ 
border-top: 16px solid #d16eff; /* cor do círculo de carregamento */ 
border-radius: 50%; /* formato do círculo */ 
width: 100px; /* largura do círculo */ 
height: 100px; /* altura do círculo */ 
animation: spin 2s linear forwards; /* animação de rotação por 4 segundos */ 
} 

@keyframes spin { 
0% { transform: rotate(0deg); } /* ângulo inicial de rotação */ 
100% { transform: rotate(360deg); } /* ângulo final de rotação */ 
} 

@keyframes fadeOut { 
0% { opacity: 1; } /* opacidade inicial */ 
100% { opacity: 0; display: none; } /* opacidade final e ocultar */ 
} 

.perguntaTitulo {
color: #fff; /*cor da pergunta*/
font-size: 20px; /*tamanho da fonte*/
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*fonte que usamos*/
text-align: center; /*centraliza a pergunta no container*/
}

.alternativa {
color: #fff; /*cor da pergunta*/
font-size: 18px; /*tamanho da fonte*/
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*fonte que usamos*/
}