*{
    margin: 0; /*define que o site ocupará toda a tela do dispositivo*/
    padding: 0;/*''''''''*/
 }

.header {
  background: hsl(283, 48%, 54%); /*cor do fundo do site*/
  width: 100%; /*define a largura*/
  height: 974px; /*define a altura*/
}

.botao {
  text-align: center; /*define que o botão "Clique aqui!" ficará no meio*/
  display: block; /*define que o botão nunca se moverá e sempre estará no centro*/
}
  
.titulo{
  text-align: center; /*define que o título "Venha ver como você fica dançando!"*/
  padding-block: 33px; /*auxilia na centralização*/
  display: block; /*a imagem nunca sairá do lugar*/
}

  
  
  
